---
page_name: main
---

{% assign page_data = site.data.pages[page.page_name] %}
{% assign sections = page_data.sections %}

{% include intro.html
    title=sections.intro.title
    gist=sections.intro.gist
%}

{% assign projects = sections.projects %}
<section id="{{ projects.id }}">
    <div class="container">
        <h3>{{ projects.title }}</h3>
        <p>{{ projects.gist }}</p>

        <div class="features">
            {% for project in site.projects %}
            <article>
                <a href="{{ project.url }}" class="image">
                    <img src="{{ project.image }}" alt="{{ project.title }}"/>
                </a>
                <div class="inner">
                    <h4>{{ project.title }}</h4>
                    <p>{{ project.gist }}</p>
                </div>
            </article>
            {% endfor %}
        </div>

        <a href="{{ projects.url }}" class="button primary small icon solid">
            See all {{ projects.title | downcase }}</a>
    </div>
</section>

<section id="testimonials">
    <div class="container">
        {% assign testimonials = sections.testimonials %}

        <h3>{{ testimonials.title }}</h3>
        <p>{{ testimonials.gist }}</p>

        {% for testimonial in site.testimonials %}
        {% assign testimonial_type = site.data.testimonials[testimonial.type] %}
        <div class="row">
            <blockquote>
                <p>{{ testimonial.content }}</p>
                <div class="sender">
                    <a href="#" class="send-right button alt small icon solid {{ testimonial_type.icon }}">
                        More from {{ testimonial_type.type }}
                    </a>
                </div>
                <em>
                    {{ testimonial.who }} <br>
                    {{ testimonial.where }}
                </em>
            </blockquote>
        </div>
        {% endfor %}
    </div>
</section>
