<section id="header">
    <header>
        <span class="image avatar"><img src="/images/avatar.jpg" alt=""/></span>
        <h1 id="logo"><a href="/">{{ site.data.me.name }} {{ site.data.me.lastname }}</a></h1>
        <p>{{ site.data.me.motto }}</p>
    </header>
    <nav id="nav">
        <ul>
            {% for item_hash in site.data.navigation %}
            {% assign item = item_hash[1] %}
            {% if item.sidebar %}
            <li><a href="{{ item.link }}">{{ item.name }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </nav>
    <footer>
        <ul class="icons">
            <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
            <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
        </ul>
    </footer>
</section>
