<div style="clear: both;"></div>
<div class="box alt">
    <div class="row" style="height:400px;">
        <div class="col-6" style="height:100%;">

            <div class="row" style="height: 50%">
                <div class="col-6" style="height:100%;">
                    <figure class="image fit">
                        {% capture url %}{{ page.folder }}/{{ include.image }}{% endcapture %}
                        <a data-fancybox="{{ include.gallery }}"
                           data-caption="{{ include.title }}"
                           href="{{ url }}">
                            <img src="{{ url }}"/>
                        </a>
                        <figcaption>
                            <h6>{{ include.title }}</h6>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-6" style="height:100%;">
                    <figure class="image fit">
                        {% capture url %}{{ page.folder }}/{{ include.image }}{% endcapture %}
                        <a data-fancybox="{{ include.gallery }}"
                           data-caption="{{ include.title }}"
                           href="{{ url }}">
                            <img src="{{ url }}"/>
                        </a>
                        <figcaption>
                            <h6>{{ include.title }}</h6>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="row" style="height: 50%">
                <div class="col-6" style="height:100%;">
                    <figure class="image fit">
                        {% capture url %}{{ page.folder }}/{{ include.image }}{% endcapture %}
                        <a data-fancybox="{{ include.gallery }}"
                           data-caption="{{ include.title }}"
                           href="{{ url }}">
                            <img src="{{ url }}"/>
                        </a>
                        <figcaption>
                            <h6>{{ include.title }}</h6>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-6" style="height:100%;">
                    <figure class="image fit">
                        {% capture url %}{{ page.folder }}/{{ include.image }}{% endcapture %}
                        <a data-fancybox="{{ include.gallery }}"
                           data-caption="{{ include.title }}"
                           href="{{ url }}">
                            <img src="{{ url }}"/>
                        </a>
                        <figcaption>
                            <h6>{{ include.title }}</h6>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-6">
            <figure class="image fit" style="height:100%;">
                {% capture url %}{{ page.folder }}/{{ include.image }}{% endcapture %}
                <a data-fancybox="{{ include.gallery }}"
                   data-caption="{{ include.title }}"
                   href="{{ url }}">
                    <img src="{{ url }}"/>
                </a>
                <figcaption>
                    <h6>{{ include.title }}</h6>
                </figcaption>
            </figure>

        </div>
    </div>
</div>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<div style="clear: both;"></div>

