<section id="{{ include.section.id }}">
    <div class="container">
        {% if include.section.major %}
        <header class="major">
        {% endif %}

            {% if include.section.title %}
            <h2>{{ include.section.title }}</h2>
            {% endif %}

            {% if include.section.gist %}
            <p>{{ include.section.gist }}</p>
            {% endif %}

            {{ include.content }}

        {% if include.section.major %}
        </header>
        {% endif %}
    </div>
</section>
