<!DOCTYPE HTML>
<html>
<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/assets/css/styles.css"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="alternate icon" href="/favicon.ico">
    <link rel="mask-icon" href="/favicon.svg" color="#ee6261">

    <meta property="author" content="{{ site.data.me.name }} {{ site.data.me.lastname }}"/>
    <meta property="og:title" content="{{ site.data.me.preview.title }}"/>
    <meta property="og:site_name" content="{{ site.data.me.preview.title }}"/>
    <meta property="og:type" content="{{ site.data.me.preview.type }}"/>
    <meta property="og:url" content="{{ site.data.me.preview.url }}"/>
    <meta property="og:description" content="{{ site.data.me.preview.description }}"/>
    <meta property="og:image" content="{{ site.data.me.preview.image.url }}"/>

    <meta name="twitter:card" content="{{ site.data.me.preview.twitter.card }}">
    <meta name="twitter:image:alt" content="{{ site.data.me.preview.twitter.alt }}">
</head>
<body class="is-preload">

{% include sidebar.html %}

<div id="wrapper" class="background">

    <div id="main">

        {{ content }}

    </div>

</div>

<!-- Scripts -->
<script src="//code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="/assets/js/jquery.scrolly.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.scrollex/0.2.1/jquery.scrollex.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="/assets/js/main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4BNVBQCYKT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4BNVBQCYKT');
</script>

</body>
</html>
